<admin-page-content-entity-layout
  [parentRouteLabel]="backButtonLabel"
  [parentRoute]="backButtonRoute"
  [entityLabel]="'Page'"
  [entityId]="entityId"
  [entityActionConfirmLabel]="'Page'"
  [isNew]="isNew"
  [isEdit]="isEdit"
  [isView]="isView"
>
  <ng-container *ngIf="pageData">
    <admin-page-view
      *ngIf="isView; else pageFormTemplate"
      [page]="pageData"
    ></admin-page-view>
  </ng-container>
</admin-page-content-entity-layout>

<ng-template #pageFormTemplate>
  <admin-page-form [entity]="pageData"></admin-page-form>
</ng-template>
