<admin-page-content-entity-layout
  [parentRouteLabel]="backButtonLabel"
  [parentRoute]="backButtonRoute"
  [entityLabel]="'Code Block'"
  [entityId]="entityId"
  [entityActionConfirmLabel]="'Code Block'"
  [isNew]="isNew"
  [isEdit]="isEdit"
  [isView]="isView"
>
  <ng-container *ngIf="codeData">
    <admin-code-view
      *ngIf="isView; else codeFormTemplate"
      [blockCode]="codeData"
    ></admin-code-view>
  </ng-container>
</admin-page-content-entity-layout>

<ng-template #codeFormTemplate>
  <admin-code-form [entity]="codeData"></admin-code-form>
</ng-template>
