.navigation-form-content {
  display: block;
  height: 100%;
  overflow-y: auto;
  &__item {
    padding: 2px;
    min-height: 24px;
    &__header {
      font-size: 14px;
      position: relative;
    }
    .mat-icon {
      margin-right: var(--layout-gap);
      opacity: 0.6;
      transform: scale(0.76);
    }
    &__toolbar {
      .mat-icon {
        transform: scale(0.76);
        opacity: 0.86;
      }
      &__drag-handle {
        cursor: grab;
        .mat-icon,
        .mat-mdc-button {
          cursor: grab;
        }
      }
    }
  }
}

::ng-deep .navigation-form-content {
  .mat-expansion-panel-body {
    padding: 0 0 16px 0;
  }
  .mat-expansion-panel-header[aria-disabled='true'] {
    color: inherit;
  }
}
