<admin-page-content-entity-layout
  [parentRouteLabel]="backButtonLabel"
  [parentRoute]="backButtonRoute"
  [entityLabel]="'Article'"
  [entityId]="entityId"
  [entityActionConfirmLabel]="'Article'"
  [isNew]="isNew"
  [isEdit]="isEdit"
  [isView]="isView"
>
  <ng-container *ngIf="articleData">
    <admin-article-view
      *ngIf="isView; else articleFormTemplate"
      [article]="articleData"
    ></admin-article-view>
  </ng-container>
</admin-page-content-entity-layout>

<ng-template #articleFormTemplate>
  <admin-article-form [article]="articleData"></admin-article-form>
</ng-template>
