.style-view {
  box-sizing: border-box;
  height: 100%;
  &__title {
    margin-bottom: var(--layout-gap);
  }
  &__card-content {
    margin-top: var(--layout-gap);
    height: calc(100% - 116px);
  }
}
