@import './app/styles/fonts';
@import './app/styles/typography';
@import './app/layout/layout';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

@import './app/styles/global';
