<admin-page-content-entity-layout
  [parentRouteLabel]="backButtonLabel"
  [parentRoute]="'settings/navigations'"
  [entityLabel]="'Navigation'"
  [entityId]="entityId"
  [entityActionConfirmLabel]="'Navigation'"
  [isNew]="isNew"
  [isEdit]="isEdit"
  [isView]="isView"
>
  <ng-container *ngIf="navigationData">
    <admin-navigation-view
      *ngIf="isView; else navigationFormTemplate"
      [navigation]="navigationData"
    ></admin-navigation-view>
  </ng-container>
</admin-page-content-entity-layout>

<ng-template #navigationFormTemplate
  ><admin-navigation-form [entity]="navigationData"></admin-navigation-form
></ng-template>
