<mat-toolbar class="app-flex-layout__row app-flex-layout--align-_-center">
  <span class="page__mat-toolbar__label">Articles</span>
  <span class="app-flex-spacer"></span>
  <button
    class="app-toolbar-button-with-icon"
    color="primary"
    mat-button
    (click)="toggleExpanded()"
  >
    <mat-icon>{{ expanded ? 'unfold_less' : 'unfold_more' }}</mat-icon>
    {{ expanded ? 'Collapse' : 'Expand' }} all
  </button>
  <button
    class="app-toolbar-button-with-icon"
    color="primary"
    mat-button
    [routerLink]="['/articles', 'new']"
    [queryParams]="{ parent: 'pages', id: pageId }"
  >
    <mat-icon>add</mat-icon>
    Add new article
  </button>
  <button
    class="app-toolbar-button-with-icon"
    color="primary"
    mat-button
    (click)="openSearch()"
  >
    <mat-icon>search</mat-icon>
    Search
  </button>
</mat-toolbar>
