.article-form {
  box-sizing: border-box;
  height: 100%;
  &__content {
    height: calc(100% - 64px);
    overflow: hidden;
    display: block;
  }
  &__card-content {
    height: calc(100% - 101px);
  }
}

.article-form .mat-mdc-card-title {
  font-size: 16px;
}

.article-form__field {
  width: 100%;
}

::ng-deep .mat-mdc-card-header-text {
  flex: 1;
}
