<mat-card appearance="outlined" *ngIf="blockMedia" class="media-form">
  <form [formGroup]="mediaForm">
    <mat-card-header>
      <mat-card-title class="media-form__title">
        <mat-form-field appearance="outline" class="media-form__field">
          <mat-label>Enter name</mat-label>
          <input
            type="text"
            placeholder="Multimedia name"
            matInput
            formControlName="name"
            required
          />
          <mat-error *ngIf="mediaFormCtrl['name']; errors"
            >Name is required</mat-error
          >
        </mat-form-field>
      </mat-card-title>
    </mat-card-header>
  </form>
  <mat-card-content class="media-form__content">
    <admin-media-view
      *ngIf="isEdit"
      [blockMedia]="blockMedia"
      class="preview-block"
    ></admin-media-view>
    <div *ngIf="mediaUploadFilePreview" class="preview-block preview">
      <img [src]="mediaUploadFilePreview" />
    </div>
    <admin-media-upload
      (mediaAdded)="onMediaAdded($event)"
      class="preview-block"
    ></admin-media-upload>
  </mat-card-content>
</mat-card>
